/* =====  Common CSS ======*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* =====  Header CSS ======*/

#header {
    height: 800px;
    background-image: url(images/banner/banner2.png);
}
.header_item h2 {
    margin-right: 0;
    color: blue;
    font-size: 40px;
    padding: 200px 100px 0px 750px;
    margin-top: px;
    text-align: right;
}
.header_item p {
    padding: 10px 100px 0px 750px;
    color: #000000;
    text-align: right;
}
.header_item a{
    margin: 50px 0px 0px 1055px;
    padding: 10px 50px;
    font-size: 20px;
    text-align: right;
    background: #2807bb;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: rgb(243, 220, 10);
}

/* =====  Hero Section CSS ======*/

#hero-section{
    height: 800px;
    margin: 100px;
    background: url(images/person.png);
    background-repeat: no-repeat;
}
#hero-section h2{
    color: #2807bb;
    padding: 100px 200px 0px 650px;
    font-size: 40px;
}
#hero-section p{
    padding: 10px 200px 0px 650px;
    text-align: justify;
}
#hero-section ul li{
    list-style-type: none;
    padding: 10px 100px 0px 680px;
    font-size: 15px;
    position: relative;
}
#hero-section ul li::before{
    content: '';
    margin-left: -30px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(images/icons/check-mark.png);
    background-size: contain;
}

/* =====  Plan/ Aim Section CSS ======*/

#plan h4{
    text-align: center;
    font-size: 30px;
    color: #2807bb;
    margin-bottom: 30px;
}
.aims{
    display: flex;
    margin-left: 100px;
}
.aims div{
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    align-items: center;
    text-align: center
}
.aims div h6{
    font-size: 17px;
}
.aims div p{
    color: rgb(123, 123, 123);
}


/* =====  Gradient Photo CSS ======*/

.gradient-photo{
    background: url(images/watch.png);
    color: #ffffff;
    position: relative;
    height: 200px;
    width: 100%;
    margin: 0 100px;
    background-repeat: no-repeat;
    display: flex;
    z-index: 1;
    display: grid;
    margin-bottom: 100px;
    border-radius: 10px;
}
.gradient{
    background-repeat: no-repeat;
    background: linear-gradient(to right, #4f0707, rgba(140, 36, 36, 0));
    width: 1140px;
    height: 100%;
    opacity: .5;
    position: absolute;
    border-radius: 10px;
    z-index: 2;
}
.gradient-photo h3{
    padding: 30px;
    z-index: 10;
    font-size: 30px;
}
.gradient-photo a{
    background: #ffffff;
    margin-left: 30px;
    margin-top: -40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px ;
    width: 100px;
    height: 30px;
    color: #4f0707;
    z-index: 50;
    border-radius: 5px;
}


/* =====  Footer Section CSS ======*/

#footer{
    background: #000000;
    color: #ffffff;
    display: flex;
}
#left-footer{
    margin-left: 100px;
    padding: 50px 300px 50px 30px;
}
#left-footer h2{
    font-size: 35px;
}
#left-footer img{
    padding: 0px 20px;
}

#left-footer img.first{
    padding: 0px 0px;
}
.subscribe{
    margin-right: 100px;
    padding-right: 200px;
    margin-top: 60px;
}
.subscribe h5{
    font-size: 25px;
    padding-left: 10px;
}
.subscribe form{
    align-items: center;    
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.subscribe form input{
    width: 200px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}
.btn{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
}